## Tuples

In [7]:
tup = (10,20,30,40)
float_tup = (10.3,4,5)
print(type(tup),float_tup)
mixed_tup = (10,10.5,"str",True)
print(mixed_tup)

tup1 = (10,)
tup2 = tuple([10])
print(type(tup2))
print(type(tup1),tup1)

<class 'tuple'> (10.3, 4, 5)
(10, 10.5, 'str', True)
<class 'tuple'>
<class 'tuple'> (10,)

In [10]:
# Access
tup = (10,30,49,56,3.5,"str",False)
print(tup[3])

# slicing
new_tup = tup[0:3]
print(new_tup)

56
(10, 30, 49)

In [13]:
# immutatility
lst = [10,20,340,440]
lst.append(30)
lst[2] = 300
print(lst)

#immutable
tup = (10,20,30,40)
# tup[1] = 1200
print(tup)

[10, 20, 300, 440, 30]
(10, 20, 30, 40)

In [18]:
tup = (10,20,30,40)
print(tup.count(10))

print(tup.index(20))

1
1

## SET

In [19]:
A = {1,2,3}
print(type(A),A)

<class 'set'> {1, 2, 3}

In [22]:
## Empty structure

B = []
print(type(B))
C = ()
print(type(C))
S = set()
print(type(S))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [25]:
S = {1,2,3,4,55,673,2,3}
if ( 3 in S):
    print("3 is present")
else:
    print("did not present")
    
sum = 0
for elements in S:
    sum+=elements
print(sum)

3 is present
738

In [31]:
S = {1,2,3,4,5,6,6}
print(S)
S.add(129)
# S.pop()
S.remove(5)
print(S)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 6, 129}

## Methods of set

In [36]:
a = {1,2,3}
b = {2,3,4}
print(a.union(b))
print(a.intersection(b))
print(a.isdisjoint(b))
print(a.issubset(b))

{1, 2, 3, 4}
{2, 3}
False
False

## Dictionaries

In [38]:
# empty
dic={}
print(type(dic))


dic = {"name":"Phitron","age":20,"address":"Dhaka","numbers":[20,30,40,40]}

print(type(dic),dic)

<class 'dict'>
<class 'dict'> {'name': 'Phitron', 'age': 20, 'address': 'Dhaka', 'numbers': [20, 30, 40, 40]}

In [42]:
# Access 
# dicxt_name[key]
print(dic["numbers"])
print(dic.get("age"))
dic["name"] = "Phitron AI/ML"
dic = {"name":"Phitron","age":40,"address":"Dhaka","numbers":[20,30,40,40]}

print(dic)

[20, 30, 40, 40]
20
{'name': 'Phitron', 'age': 40, 'address': 'Dhaka', 'numbers': [20, 30, 40, 40]}

In [43]:
print(dic)

{'name': 'Phitron', 'age': 40, 'address': 'Dhaka', 'numbers': [20, 30, 40, 40]}

In [50]:
# Printing default values

print(dic.get("math_marks",0))

# Adding a values
dic["math_marks"] = 30
print(dic)
dic.update({"english_marks":20})
print(dic)

30
{'name': 'Phitron', 'age': 40, 'address': 'Dhaka', 'numbers': [20, 30, 40, 40], 'math_marks': 30}
{'name': 'Phitron', 'age': 40, 'address': 'Dhaka', 'numbers': [20, 30, 40, 40], 'math_marks': 30, 'english_marks': 20}

In [51]:
# deleting

del dic["math_marks"]
print(dic)

{'name': 'Phitron', 'age': 40, 'address': 'Dhaka', 'numbers': [20, 30, 40, 40], 'english_marks': 20}

In [52]:
dic_2= dic.copy()
print(dic_2)

{'name': 'Phitron', 'age': 40, 'address': 'Dhaka', 'numbers': [20, 30, 40, 40], 'english_marks': 20}

In [55]:
# testing
dic_3 = {(20,30):"a"}
print(dic_3)

{(20, 30): 'a'}

## Iterating Over Dictionary

In [59]:
keys = dic.keys()
print(keys)
dic["math_numbers"] = 40
print(keys)
values = dic.values()
print(values)
items = dic.items()
print(items)

dict_keys(['name', 'age', 'address', 'numbers', 'english_marks', 'math_numbers'])
dict_keys(['name', 'age', 'address', 'numbers', 'english_marks', 'math_numbers'])
dict_values(['Phitron', 40, 'Dhaka', [20, 30, 40, 40], 20, 40])
dict_items([('name', 'Phitron'), ('age', 40), ('address', 'Dhaka'), ('numbers', [20, 30, 40, 40]), ('english_marks', 20), ('math_numbers', 40)])

In [61]:
# iterations
for key,value in dic.items():
    print(key,value)

name Phitron
age 40
address Dhaka
numbers [20, 30, 40, 40]
english_marks 20
math_numbers 40

## Dictionary comprehention

In [66]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
square = {x:x**2 for x in range(10) if x%2==0}
print(square)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [75]:
 # Dhaka: ; Chittagong:  Sylhet:  
Co_ordinates = [(23.80, 90.41),(22.34, 91.83),(24.90, 91.87)]
Locations = ["dhaka","chattogram","sylhet"]
exact_location = {co_or:loc for co_or,loc in zip(Co_ordinates,Locations)}

In [76]:
print(exact_location)

{(23.8, 90.41): 'dhaka', (22.34, 91.83): 'chattogram', (24.9, 91.87): 'sylhet'}

In [77]:
# Problem solving with in built structres
# Given a list of numbers, make a list with unique values.

lst = [12,34,122,12,49,40,430,12,49,50,39]
unique_values = set(lst) # conversion
lst = list(unique_values)
print(lst)

[34, 39, 40, 12, 430, 49, 50, 122]

In [85]:
# 2. Given a string, print the frequency of the words
str = """ai data model train learn ai data ai model learn ai train data model ai learn data ai model train learn ai data model ai learn
"""
words = str.split()
count = {}
for word in words:
    count[word]=count.get(word,0)+1
print(count)
for k,v in count.items():
    print(f"count of {k} is {v}")
    
    
# print(words)

{'ai': 8, 'data': 5, 'model': 5, 'train': 3, 'learn': 5}
count of ai is 8
count of data is 5
count of model is 5
count of train is 3
count of learn is 5

In [86]:
print({'a': 1, 'b': 2}.keys())

dict_keys(['a', 'b'])

In [100]:
# Problem solving
str = input()
cnt = {}
for c in str:
    cnt[c] = cnt.get(c,0)+1
for k in sorted(cnt.keys()):
    print(f"{k} : {cnt[k]}")

 fsdrfewrw

d : 1
e : 1
f : 2
r : 2
s : 1
w : 2

In [120]:
n,m = map(int,input().split())

arr = list(map(int,input().split()))
A = set(map(int,input().split()))
B = set(map(int,input().split()))
happiness = 0
for x in arr:
    if x in A:
        happiness +=1
    elif x in B:
        happiness -=1
print(happiness)

 3 2
 1 2 5
 2 1
 5 4

1

In [127]:
n = int(input())
# tup = tuple(map(int,input().split()))

# print(hash(tup))
print(hash(tuple([int(i) for i in input().split()])))
# tuple([int(i) for i in input().split()])

 2
 2 3

(2, 3)